#nick{
  color:blue;
  font-size:25px;
  font-family:Arial;
}
  
#title{
  border:3px solid black;
  border-radius:5px;
}

#body_text{
  border:3px dotted green;
  width:65%;
  font-size:20px;
}
#my_pic{
  width:25%;
  padding-left:250px;
  margin-left:750px;
  display:inline-block;
  position:relative;
}
#tasty{
  color:red;
  font-size:25px;
  font-family:Arial;
}
#mouth{ 
  color:orange;
  font-size:25px;
  font-family:Arial;
}  
#text_wrapper{
  display:inline-block;
  position:relative;
}
.good{
  width:20%;
}
