#nick{
  color:blue;
  font-size:25px;
  font-family:Arial;
}
  
#title{
  border:3px solid black;
  border-radius:5px;
}

#body_text{
  border:3px dotted green;
  width:65%;
}
#my_pic{
  width:25%;
  padding-left:100px;
  margin-left:450px;
  display:inline-block;
  position:fixed;
}
#tasty{
  color:red;
  font-size:25px;
  font-family:Arial;
}
#mouth{ 
  color:orange;
  font-size:25px;
  font-family:Arial;
